<ngb-carousel #carousel>

  <ng-template ngbSlide>
    <img src="https://picsum.photos/900/500?r=1" alt="Random first slide">
  </ng-template>

  <ng-template ngbSlide>
    <img src="https://picsum.photos/900/500?r=2"  alt="Random second slide">
  </ng-template>

  <ng-template ngbSlide>
    <img src="https://picsum.photos/900/500?r=3" alt="Random third slide">
  </ng-template>

</ngb-carousel>


<div style="margin-top: 10px;" class="row justify-content-center text-center">
  <button type="button" (click)="togglePaused()" class="p-2 btn btn-warning">
    {{paused ? 'Iniciar' : 'Pausar' }}
  </button>
</div>
