<div class="container-fluid justify-content-center mt-2">

  
  <div class="row">   


    <carousel></carousel>
    <!--<div class="col-md-6 col-lg-9 col-xl-10" id="annotator"></div>-->

    <div class="col col-md-6 col-lg-3 col-xl-2">
        <div class="col justify-content-center flex-column annotate-actions">
          <p>Actions:</p>
          <button style="margin-right: 10px; margin-bottom: 10px;" class="p-2 btn btn-success"
            (click)="saveAnnotation()"
            ngbTooltip="Salvar anotação e solicitar novas imagens">Próxima</button>
          <!-- <button class="p-2 btn btn-danger"
            (click)="saveEmptyAnnotation(content)"
            [disabled]="boxes.length > 0"
            ngbTooltip="If there are no annotation found on that image">Nothing !</button> -->
          <button style="margin-right: 10px; margin-bottom: 10px;" class="p-2 btn btn-warning"
            (click)="nextImage()"
            ngbTooltip="Estou com dúvida. Passar ao nível 2 de curadoria">Dúvida</button>
        </div>
        <div class="col align-items-center justify-content-center mt-3">
          <p>Labels:</p>

          <button style="margin-right: 10px; margin-bottom: 10px;"
          *ngFor="let label of project.tags"
          class="btn btn-primary btn-sm"
          (click)="setLabel(label)">{{ label }}</button>
        </div>
    </div>
  </div>
</div>


<!-- 
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Empty annotation</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('no')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      Are you sure that you want to send empty annotation for that image ? That means that this image doesn't contains any of the proposed labels.
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('yes')">Yes</button>
  </div>
</ng-template>-->
